<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="users/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="card m-2">
			<div class="container">
				<div class="card-body">
				<div class="container text-center">
				<img class="postcard_profile_image" th:src="@{'/img/'+${contact.profile}}" alt="profile image" />
				<h1><i class="fa-solid fa-pen"></i> Edit Contact</h1>
				</div>
				<form 
				novalidate 
				method="post"
				th:action="@{/user/process_add_contact}"  
				enctype="multipart/form-data" 
				th:object="${contact}">
				
				<input type="number" name="id" hidden=true th:value="${contact.id}" />
					<div class="input-group mt-3">
						<div class="input-group-text"><i class="fa-solid fa-user-large"></i></div>
						<input type="text"
						name="name"
						th:value="${contact.name}"
						 class="form-control"
						  placeholder="Enter Name" />
					
					</div>
				
				<!-- for contact number  -->
				<div class="input-group mt-3">
						<div class="input-group-text"><i class="fa-solid fa-phone"></i></div>
						<input 
						name="number"
						type="number" 
						th:value="${contact.number}"
						class="form-control" 
						placeholder="Contact Number" />
					
					</div>
					
				<!-- for work  -->
				<div class="input-group mt-3">
						<div class="input-group-text"><i class="fa-solid fa-briefcase"></i></div>
						<input 
						name="work"
						type="text" 
						th:value="${contact.work}"
						class="form-control" 
						placeholder="Work" />
					
					</div>
				<!-- for nick name  -->
				<div class="input-group mt-3">
						<div class="input-group-text"><i class="fa-solid fa-face-smile-wink"></i></div>
						<input 
						name="nickName"
						type="text" 
						th:value="${contact.nickName}"
						class="form-control" 
						placeholder="Nick Name" />
					
					</div>
					
					<!-- for email  -->
				<div class="input-group mt-3">
						<div class="input-group-text">@</div>
						<input 
						name="email"
						type="email" 
						th:value="${contact.email}"
						class="form-control" 
						placeholder="Email" />
					
					</div>
					
						<!-- for profile image  -->
				<div class="input-group mt-3">
						<div class="input-group-text"><i class="fa-solid fa-image"></i></div>
						<input 
						name="profileImage"
						type="file" 
						class="form-control" />
					
					</div>
					
					<div class="container text-center mt-3">
						<button type="submit" class="btn btn-outline-warning">Update Contact</button>
					</div>
				
				</form>
				
				
				
			</div>
			</div>
		</div>
	</section>
</body>
</html>