<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="users/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="card mx-2" th:if="${user}" >
			<div class="container text-center">
				<img class="postcard_profile_image mt-2" th:src="@{'/img/'+${(user.profile!=null)? user.profile : 'defaultUser.png'}}" alt="user profile" />
				<div class="text-center">
					<h1  ><span th:text="${user.name}"> </span>	
				</h1>
				
			</div>
			
				<table class="table">
				  <thead>
				    <tr>
				      Details
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">Phone</th>
				      <td th:text="${user.number}"></td>
				    </tr>
					<tr>
				      <th scope="row">Email</th>
				      <td th:text="${user.email}"></td>
				    </tr>
				    <tr>
				      <th scope="row">Status</th>
				      <td th:text="${user.enabled}"></td>
				    </tr>
				     <tr>
				      <th scope="row">About</th>
				      <td th:text="${user.about}"></td>
				    </tr>
				  </tbody>
				</table>
			<button class="btn btn-block bg-primary mb-3">Edit</button>
			
		</div>
		</div>
		<div th:unless="${user}">
			<div class="alert alert-warning mx-2">No record found ...</div>
		</div>
	</section>
</body>
</html>