body{
	background: #e2e2e2;
}
.primary-color{
	color: #8442f5 !important;
}
.bg-primary{
	background: #8442f5 !important;
}
.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("../img/w1.jpg");
	background-size:cover;
	color:white;
	
	
}

.my-card{
	background:#ffffff;
	padding:40px;
	margin-top:2px;
}

.row{
	margin-right:0px !important;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login-box{
	padding-bottom:50px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/* for sidebar  */

@media only screen and (max-width:600px){
	.sidebar{
	display:none;
	width:80% !important;
	height:100%;
	position:fixed;
	padding-top:20px;
	background:white;
	}
	.contentArea{
	margin-left:0% !important
	}
}


.sidebar{
	width:18%;
	height:100%;
	position:fixed;
	background:#ffffff;
	z-index:9;
}

.sidebar .item{
	text-decoration:none !important;
	width:100%;
	padding:10px;
	padding-left:40px;
	display:block;
	text-align:left;
	margin-left:5px;
}
.sidebar a{
	color:inherit;
	text-decoration:none;
}
.sidebar .crossBtn{
	font-weight:bold;
	font-size:20px;
	text-align:right;
	padding:10px;
	margin:5px;
	cursor:pointer;
}

.sidebar .item:hover{
	background:#e2e2e2;
	cursor:pointer;
	
}

.contentArea .toggler{
	font-weight:bold;
	font-size:28px;
	margin-top:9px;
	margin-left:10px;
}
.contentArea .toggler:hover{
	cursor:pointer;	
}

.contentArea{
	margin-left:20%;
	
}

.thumbnail_profile_image{
	width:35px;
	height:35px;
	border-radius:50%;
	object-fit:cover;
}
.postcard_profile_image{
	width:160px;
	height:160px;
	border-radius:50%;
	object-fit:cover;
}
.icon_button{
	background:none;
	border:none;
	color: blue;
	cursor:pointer;
}

/* for search functanility */

.search-container{
	position:relative;
}

.search-result{
	position:absolute;
	background: #ffffff;
	border: 1px solid #e2e2e2;
	width:100%;
	padding:10px;
	display:none;
}













