<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
		<p>Start collecting your contact in very simple way. We provide very efficient and smarter way of handling contacts.</p>
		<a  th:href="@{/signup}" class="btn bg-primary btn-lg btn-dark">Get Start</a>
		
		</div>
	</section>
</body>
</html>